# Default values for patroni-postgres.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# define storageClass for each pod. This will determine replica count. If you
# want storage from the same storageClass, then define it as many times as many
# replicas you want.

pvcStorageClasses:
  - default

pvcSize: 1Gi

image: ghcr.io/rkojedzinszky/postgres-patroni:20230509
imagePullPolicy: IfNotPresent

# Desired PostgreSQL major version
pgVersion: 13

resources:
  requests:
    cpu: 100m
    memory: 96Mi

nodeSelector: {}

tolerations: []

podAntiAffinityTopologyKey: ""

# set desired serviceName here. if unset, the release name will be used
serviceName: ""

# generate a PodDisruptionBudget according to parameters
# https://kubernetes.io/docs/tasks/run-application/configure-pdb/
#poddisruptionbudget:
#  minAvailable: 1

# To deploy https://github.com/prometheus-community/postgres_exporter,
# you'll have to create a secret containing DATA_SOURCE_NAME. Then, uncomment
# the following setting, and the side-container pod will be attached.

postgres_exporter:
  secretName: ""

  resources:
    requests:
      cpu: 10m
      memory: 16Mi
